{% extends "edit_task_layout.html" %}

{% block title %}
    ADD CATEGORY
{% endblock %}

{% block main %}
<div class="d-flex justify-content-center">
    <div class="card shadow p-4 w-100" style="max-width: 500px;">
        <h4 class="text-center mb-4 text-primary">
            <i class="fas fa-plus-circle me-2"></i>Add New Category
        </h4>

        <form action="/add_category" method="post">
            <div class="mb-3">
                <input class="form-control" autocomplete="off" autofocus name="category" placeholder="Enter Category Name" maxlength="30" required>
            </div>

            {% if apology %}
            <div class="alert alert-danger py-2" role="alert">
                {{ apology }}
            </div>
            {% endif %}

            <div class="mb-2 text-center">
                <button class="btn btn-success" type="submit">Add Task</button>
            </div>
        </form>
    </div>
</div>





{% endblock %}
